DATABASE_URL=
DB_PASSWORD=

ANTHROPIC_API_KEY=

TELEGRAM_BOT_TOKEN=
TELEGRAM_TIER1_CHAT_ID=

FRED_API_KEY=  # https://fred.stlouisfed.org/docs/api/api_key.html
BOK_API_KEY=               # https://ecos.bok.or.kr/api/
